*.lastbuildstate
*.vsidx
*.tlog
*.log
*.exe
*.pdb
*.ipch
*.idb
*.obj
*.ilk
*.recipe
*.enc
*.sln
*.vcxproj
*.filters
*.opendb
*.db-wal
*.db-shm
*.db
*.suo
*.json
*.user
*.sqlite
*.wsuo
*.lock
*.json
*.vs
/ch_10/ch_10_6/10_6/Debug/main.obj
/ch_10/ch_10_6/10_6/Debug/roman.obj
/ch_10/ch_10_6/10_6/Debug/calculator_roman_ints.obj.enc
/ch_10/ch_10_6/10_6/Debug/calculator_roman_ints.obj

/.vs/slnx.sqlite
/ch_10/ch_10_6/10_6/.vs/10_6/v16/ipch/AutoPCH/3923e965b86fcf2b/CALCULATOR_ROMAN_INTS.ipch
/ch_10/ch_10_6/10_6/Debug/10_6.ilk
/ch_10/ch_10_6/10_6/Debug/10_6.exe
